<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Playfair+Display:wght@600&family=Roboto&family=Urbanist&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='play_num.css') }}">
    <title>play_num</title>
</head>
<body>
    <section>
        <h1 id="titulo"> WELCOME !</h1>
            <div class="caja">
            {% for x in range(0,numero): %}
                <img>
            {% endfor %}
            </div>
    </section>
    
</body>
</html>